
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}
<hr />

<h>Index</h>
<h1>Helo this is index.</h1> <br />
<h2>Helo this is index.</h2> <br />
<h3>Helo this is index.</h3> <br />
<h4>Helo this is index.</h4> <br />

<br />
<hr />